html {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}


/*header navbar*/

.header-nav-bar-container {
    margin: 5%;
}

.search-bar-container {
    display: flex;
    justify-content: end;
}

.header-search-input {
    border: none;
}

.menu-container {
    display: flex;
    justify-content: end;
}

.inactive {
    display: none;
}


/*main section*/

.main-section-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-img {
    height: 320px;
    width: 300px;
    margin: 2rem;
    border-radius: 10%;
    padding: 1rem 1rem;
}


/*footer*/

footer {
    height: 60vh;
    width: 100vw;
    background-color: var(--black-1);
    margin-top: 40px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-wrap: wrap;
}

.footer-title {
    font-size: 30px;
    margin-left: 35px;
    color: var(--purple-3);
    letter-spacing: 5px;
}

.footer-social-icons li {
    margin: 2px;
}

.footer-icon {
    height: 50px;
    width: 50px;
}


/* STYLES SPECIFIC TO FOOTER  */

.top-btn button {
    background: var(--purple-2);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 1rem 23rem;
    border: none;
    display: block;
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

.footer .col {
    width: 190px;
    margin-top: 20px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: var(--purple-2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: var(--white);
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }
    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}