html {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #cdcecf;
}


/*header navbadasdasr*/

.back-arrow {
    background-color: #ffffff;
    position: fixed;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    margin: 10% 5px 5px 10%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 580;
}

.desktop-menu {
    display: none;
    background-color: transparent;
}

.desktop-nav-bar {
    background-color: transparent;
}

.back-imgs {
    margin-top: 5%;
    height: 28px;
    width: 28px;
}

.header-menu {
    background-color: #ffffff;
    position: fixed;
    border: none;
    border-radius: 10px;
    padding: 7px 7px 5px;
    margin: 5% 10px 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 580;
}

.header-menu-img {
    height: 29px;
    width: 28px;
}

.header-nav-bar-container {
    margin: 2%;
    margin-left: 10%;
    top: 0;
    z-index: 580;
}

.search-bar-container {
    display: flex;
    justify-content: end;
}

.header-search-input {
    border: none;
    border-radius: 5px;
}

.menu-container {
    display: flex;
    justify-content: end;
}

.hidden-menu {
    position: fixed;
    list-style: none;
    background-color: #ffffff;
    height: 100%;
    margin-right: -200%;
    width: 150px;
    z-index: 590;
    transition: 0.5s;
}

.header-menu-close {
    background-color: #ffffff;
    position: fixed;
    border: none;
    border-radius: 10px;
    padding: 7px 7px 5px;
    margin: 55% 7% 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 580;
}

.header-menu-close-img {
    height: 30px;
    width: 30px;
}

ul {
    margin-top: -2%;
    padding-top: 15%;
}

.hidden-menu li {
    margin: 15%;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.inactive {
    display: none!important;
}


/*main section*/

.main-section-container {
    height: 340px;
    margin: auto;
    position: relative;
    width: 99%;
    display: grid;
    place-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    z-index: 500;
}

.main-section-container::-webkit-scrollbar {
    display: none;
}

.slider-track {
    display: flex;
    height: 280px;
    width: calc(290px*6);
    animation: scroll 20s linear infinite;
    overflow-y: hidden;
}

.slider-track:hover {
    animation-play-state: paused;
}

.main-section-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 20% 5% 5%;
}

.main-section-title-container {
    margin-bottom: 10%;
}

.main-section-title-img {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 20%;
}

.slide {
    height: 200px;
    width: 280px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

@keyframes scroll {
    0% {
        transform: translatex(0);
    }
    90% {
        transform: translatex(calc(-170px*6));
    }
}

.main-section-img {
    transition: transform 1s;
    width: 100%;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 25px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 560;
}

.main-section-img-size {
    width: 250px;
    height: 230px;
    margin-top: 10%;
}

.main-section-img:hover {
    transform: translateZ(10px);
}


/*Films section*/

.film-section {
    height: 100vh;
}

.film-section-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20% 5% 10%;
}

.film-section-container {
    display: flex;
    box-sizing: border-box;
    padding-bottom: 5%;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: hidden !important;
}

.film-movies {
    height: 180px;
    width: 150px;
    margin: 15px 5px 25px 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 25px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/*details*/

.detail-section {
    margin-top: -5%;
}

.detail-movie-img {
    height: 70vh;
    width: 100vw;
    align-self: center;
    size: cover;
}

.detail-section-container {
    margin-top: -40%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50%;
    overflow-y: auto;
}

.glass {
    width: 85%;
    background-color: rgba(150, 150, 150, 0.5);
    border-radius: 5%;
    backdrop-filter: blur(5px);
    margin: 5% 15% 15% 7%;
}

.detail-section-title-jap {
    color: #ffffff;
    font-size: 20px;
    margin: 10% 10% 5%;
    padding-top: 10%;
    position: relative;
}

.detail-section-title {
    color: #ffffff;
    font-size: 22px;
    margin: 5% 10%;
    padding-top: 5%;
    position: relative;
}

.detail-text {
    color: #ffffff;
    letter-spacing: 1px;
    margin: 5% 10%;
}

.detail-list {
    color: #ffffff;
    padding: 1% 1% 5%;
    margin: 5% 10%;
}

.detail-list li {
    margin: 5%;
}


/*footer*/

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    display: inline-block;
    position: relative;
    height: 90px;
    width: 100%;
    padding-bottom: 5%;
    vertical-align: middle;
    overflow: hidden;
}

footer {
    height: 85vh;
    width: 100vw;
    margin-top: -10px;
    border-radius: 15px 50px;
    background-color: var(--black-1);
    backdrop-filter: blur(5px);
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.footer {
    margin-top: -100px;
    width: 100%;
}

.footer-title {
    font-size: 30px;
    margin-left: 35px;
    color: var(--purple-3);
    letter-spacing: 5px;
}

.footer-social-icons li {
    margin: 2px;
}

.footer-icon {
    height: 50px;
    width: 50px;
}


/* STYLES SPECIFIC TO FOOTER  */

.top-btn button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 1rem 23rem;
    border: none;
    display: block;
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

.footer .col {
    width: 190px;
    margin-top: 20px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 40px;
}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: var(--purple-2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: var(--white);
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    color: #bbbbbb;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
    }
    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {
    .contain {
        margin-top: 90px;
        height: 20vh;
    }
    .header-search-input {
        width: 250px;
    }
    .header-menu {
        margin: 18% 10px 10px;
    }
}


/*Big screens display*/

@media only screen and (min-width: 1366px) {
    .main-section-title {
        font-size: 40px;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .main-section-title-img {
        height: 200px;
        width: 300px;
        margin: 2% 30% 2% 41%;
    }
    .main-section-container {
        height: 500px;
    }
    .main-section-title-container {
        margin-bottom: 5%;
    }
    .slider-track {
        height: 500px;
        width: calc(500px*6);
        display: flex;
        align-items: center;
    }
    .main-section-img-size {
        width: 480px;
        height: 350px;
    }
    @keyframes scroll {
        0% {
            transform: translatex(0);
        }
        50% {
            transform: translatex(calc(-75px*6));
        }
    }
    footer {
        height: 80vh;
        width: 100%;
        background-color: #ffffff;
    }
    .container {
        margin-top: -5%;
        height: 100px;
        padding-bottom: 25%;
    }
    .footer {
        margin-top: -3%;
    }
    .contain {
        display: flex;
        justify-content: space-around;
        height: 25vh;
    }
    .col .social {
        display: flex;
    }
    .desktop-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -12%;
    }
    .desktop-menu li {
        margin: 0 5% 5%;
        list-style: none;
    }
    .desktop-menu li a {
        font-size: 22px;
        padding: 5px 15px;
        transition: 0.3s;
    }
    .header-nav-bar {
        display: none;
    }
    .desktop-menu li a:hover {
        background-color: #ffffff;
        border-radius: 10px;
    }
    /*film section*/
    .film-section-title {
        font-size: 40px;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    .film-movies {
        height: 450px;
        width: 420px;
        margin: 5% 1% 5%;
        transition: 1s;
    }
    .film-movies:hover {
        width: 440px;
        height: 470px;
    }
    .film-section-container {
        padding-bottom: 2%;
    }
    .back-arrow {
        margin-top: 20%;
    }
    .back-imgs {
        height: 50px;
        width: 50px;
    }
    /*details*/
    .detail-section {
        justify-content: center;
        align-items: center;
    }
    .detail-movie-img {
        height: 100vh;
        margin-top: 1%;
    }
    .detail-section-container {
        margin-top: 1%;
        height: 98vh;
        padding-bottom: 1%;
        overflow: hidden;
    }
    .detail-box {
        display: flex;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 600;
    font-size: 18px;
    border: 1 solid black;
    outline: none;
    background-color: #ffffff;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 25px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.up-arrow {
    height: 38px;
    width: 38px;
    padding: 5px;
}